<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/udhav//css/weather.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body onload="update()">
    <nav>
        <div class="nav-1">
            <p>Weather App</p>
        </div>
        <form action="">
            <label for="">
                <input type="text" placeholder="Enter your city name" id="form-1">
            </label>
            <input type="submit" class="submit-btn" value="Search">
        </form>
        <div class="cont">
            <a class="nav-a" href="/udhav/back">Back</a>
        </div>
    </nav>

    <section>
        <div class="section-1">

        </div>
        <p class="section-2">Delhi</p>
        <p class="section-3">30&degC</p>
        <div class="section-4">
            <div class="section-4-1">
                <div class="section-4-1-1">

                </div>
                <div class="section-4-1-2">
                    <p class="section-4-1-2-1">38&deg C</p>
                    <p class="section-4-1-2-2">Feels like</p>
                </div>
                
            </div>
            <div class="section-4-2">
                <div class="section-4-2-1">

                </div>
                <div class="section-4-2-2">
                    <p class="section-4-2-2-1">62%</p>
                    <p class="section-4-2-2-2">Humidity</p>
                </div>
                
            </div>
        </div>

    </section>

    <footer>
        <div class="footer-1">
            <a href="https://www.linkedin.com/in/udhav-negi-72a114138/" target="_blank">
                <img src="/udhav/img/317750_linkedin_icon.png" alt="">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="/udhav/img/instagram_icon.png" alt="">
            </a>
        </div>
        <div class="footer-2">
            &copy Udhav Negi
        </div>
    </footer>
</body>
<script src="/udhav/js/weather.js"></script>
</html>